---
import DeniedAccessAlert from "@/components/GCursos/DeniedAccessAlert";
import GCursosLayout from "@/layouts/GCursosLayout.astro";

export const prerender = false;

const user = Astro.locals.user;
if (!user) {
  return Astro.redirect("/login");
}

console.log(user);

const notas = [
  {
    title: "Controles",
    notas: [
      {
        id: 1,
        nombre: "Control 1",
        fecha: "9 de Septiembre",
        publicada: true,
      },
    ],
  },
  {
    title: "Ejercicios",
    notas: [
      {
        id: 2,
        nombre: "Ejercicio 1",
        fecha: "9 de Agosto",
        publicada: true,
      },
      {
        id: 3,
        nombre: "Ejercicio 2",
        fecha: "12 de Agosto",
        publicada: true,
      },
      {
        id: 4,
        nombre: "Ejercicio 3",
        fecha: "16 de Agosto",
        publicada: true,
      },
      {
        id: 5,
        nombre: "Ejercicio 4",
        fecha: "23 de Agosto",
        publicada: true,
      },
      {
        id: 6,
        nombre: "Ejercicio 5",
        fecha: "26 de Agosto",
        publicada: true,
      },
      {
        id: 7,
        nombre: "Ejercicio 6",
        fecha: "30 de Agosto",
        publicada: true,
      },
      {
        id: 8,
        nombre: "Ejercicio 8",
        fecha: "23 de Septiembre",
        publicada: true,
      },
    ],
  },
  {
    title: "Ejercicios Laboratorios",
    notas: [
      {
        id: 9,
        nombre: "Laboratorio 01",
        fecha: "13 de Agosto",
        publicada: true,
      },
      {
        id: 10,
        nombre: "Laboratorio 02",
        fecha: "20 de Agosto",
        publicada: true,
      },
      {
        id: 11,
        nombre: "Laboratorio 3",
        fecha: "27 de Agosto",
        publicada: true,
      },
      {
        id: 12,
        nombre: "Laboratorio 05",
        fecha: "11 de Septiembre",
        publicada: true,
      },
    ],
  },
  {
    title: "Evaluaciones para el Acta de Notas",
    notas: [
      {
        id: 13,
        nombre: "Nota Final",
        fecha: "",
        publicada: false,
      },
    ],
  },
  {
    title: "Laboratorios No Evaluados",
    notas: [
      {
        id: 14,
        nombre: "Laboratorio 04",
        fecha: "3 de Septiembre",
        publicada: true,
      },
    ],
  },
  {
    title: "Tareas",
    notas: [
      {
        id: 15,
        nombre: "Tarea 1",
        fecha: "21 de Agosto",
        publicada: true,
      },
      {
        id: 16,
        nombre: "Tarea 2",
        fecha: "23 de Septiembre",
        publicada: false,
      },
      {
        id: 17,
        nombre: "Tarea 3",
        fecha: "18 de Octubre",
        publicada: false,
      },
    ],
  },
];
---

<GCursosLayout user={user} servicio="notas" title="Notas">
  <ul class="modulo">
    <li class="sel"><a href="/g-cursos/notas">Evaluaciones</a></li>
  </ul>
  <DeniedAccessAlert clases="boton primary" client:visible>
    Agregar Evaluación
  </DeniedAccessAlert>
  <table>
    <colgroup>
      <colgroup>
        <col class="col0 number" />
        <col class="col1 string group" />
        <col class="col2 string" />
        <col class="col3 bool" />
      </colgroup>
      <thead class="sticky">
        <tr class="even">
          <th class="number">Nº</th>
          <th class="string group" style="display: none;">Categoría</th>
          <th class="string">Evaluación</th>
          <th class="bool">Publicada</th>
        </tr>
      </thead>
      <tbody></tbody>
      {
        notas.map((nota, index) => (
          <>
            <tbody>
              <tr class="separador nodownload ">
                <td colspan="3">
                  <span>{nota.title}</span>
                </td>
              </tr>
            </tbody>
            {nota.notas.map((n, i) => (
              <tbody>
                <tr class={index % 2 === 0 ? "even" : "odd"}>
                  <td class="number">{n.id}</td>
                  <td class="string group" style="display: none;">
                    {nota.title}
                  </td>
                  <td class="string">
                    <h1>
                      {n.nombre === "Tarea 3" ? (
                        <a href="/g-cursos/notas/tarea3">{n.nombre}</a>
                      ) : (
                        <DeniedAccessAlert client:visible>
                          {n.nombre}
                        </DeniedAccessAlert>
                      )}
                      <em />
                    </h1>
                    <h2 />
                    <h2>
                      {n.fecha && (
                        <span class="tiempo_rel" data-hrs="">
                          {/* <span class="no-excel only-movil"></span> */}
                          <span class="no-excel no-movil">{n.fecha}</span>
                        </span>
                      )}
                    </h2>
                  </td>
                  <td class="bool">
                    <a class={`status_${n.publicada ? "on" : "off"}`} />
                  </td>
                </tr>
              </tbody>
            ))}
          </>
        ))
      }
    </colgroup>
  </table>
</GCursosLayout>
