---
import DeniedAccessAlert from "@/components/GCursos/DeniedAccessAlert";
import GCursosLayout from "@/layouts/GCursosLayout.astro";

import { formatDateTime } from "@/utils/dates.ts";
import { tareas } from "@/data/tareas.ts";

export const prerender = false;

const user = Astro.locals.user;
if (!user) {
  return Astro.redirect("/login");
}

let numeroTarea = 1;
---

<GCursosLayout user={user} servicio="tareas" title="Tareas">
  <table>
    <colgroup>
      <col class="col0 number" />
      <col class="col1 string responsive-main" />
      <col class="col2 string responsive no-movil" />
    </colgroup>
    <thead class="sticky">
      <tr class="even">
        <th class="number">Nº</th>
        <th class="string responsive-main">Título</th>
        <th class="string responsive no-movil">Estado</th>
      </tr>
    </thead>
    {
      tareas.map((tarea, index) => (
        <>
          <tbody>
            <tr class="separador sticky odd" data-categoria={tarea.titulo}>
              <td colspan="3" class="number">
                {tarea.titulo}
              </td>
            </tr>
          </tbody>
          {tarea.tarea.map((tarea, index) => (
            <tbody>
              <tr class={index % 2 === 0 ? "even" : "odd"}>
                <td class="number">{numeroTarea++}</td>
                <td class="string responsive-main">
                  <h1>
                    {tarea.nombre === "Tarea 3" ? (
                      <a href="/g-cursos/tareas/12">{tarea.nombre}</a>
                    ) : (
                      <DeniedAccessAlert client:visible>
                        {tarea.nombre}
                      </DeniedAccessAlert>
                    )}
                  </h1>
                  <div class="responsive-data only-movil no-print">
                    <div class="responsive-row ">
                      <span class="responsive-label">Estado</span>
                      <h1>
                        {tarea.estado}
                        {/* <div class="pill wrong">✗ Sin Entrega</div> */}
                      </h1>
                      <h2>
                        <span
                          class="tiempo_rel"
                          data-time={`${tarea.fechaInicial}`}
                          data-hrs="1"
                        >
                          <span class="no-excel only-movil">
                            {formatDateTime(tarea.fechaInicial).mobileFormat}
                          </span>
                          <span class="no-excel no-movil">
                            {formatDateTime(tarea.fechaInicial).noMobileFormat}
                          </span>
                          <span class="only-excel">
                            {formatDateTime(tarea.fechaInicial).excelFormat}
                          </span>
                        </span>{" "}
                        hasta{" "}
                        <span
                          class="tiempo_rel"
                          data-time={`${tarea.fechaFinal}`}
                          data-hrs="1"
                        >
                          {formatDateTime(tarea.fechaFinal).noMobileFormat}
                        </span>{" "}
                      </h2>
                    </div>
                  </div>
                </td>
                <td class="string responsive no-movil">
                  <h1>
                    {tarea.estado}
                    {/* <div class="pill wrong">✗ Sin Entrega</div> */}{" "}
                  </h1>
                  <h2>
                    <span
                      class="tiempo_rel"
                      data-time={`${tarea.fechaInicial}`}
                      data-hrs="1"
                    >
                      <span class="no-excel only-movil">
                        {formatDateTime(tarea.fechaInicial).mobileFormat}
                      </span>
                      <span class="no-excel no-movil">
                        {formatDateTime(tarea.fechaInicial).noMobileFormat}
                      </span>
                      <span class="only-excel">
                        {formatDateTime(tarea.fechaInicial).excelFormat}
                      </span>
                    </span>{" "}
                    hasta{" "}
                    <span
                      class="tiempo_rel"
                      data-time={`${tarea.fechaFinal}`}
                      data-hrs="1"
                    >
                      {formatDateTime(tarea.fechaFinal).noMobileFormat}
                    </span>{" "}
                  </h2>
                </td>
              </tr>
            </tbody>
          ))}
        </>
      ))
    }
  </table>
</GCursosLayout>
