---
import GCursosLayout from "@/layouts/GCursosLayout.astro";
import NotaInfo from "@/components/GCursos/notas/NotaInfo.astro";
import { notas } from "@/data/notas.ts";
import Mensajes from "@/components/GCursos/Mensajes";
import { actions } from "astro:actions";

export const prerender = false;

const { id } = Astro.params;
const numericId = Number(id);

let notaEncontrada;
let categoriaEncontrada;
for (const categoria of notas) {
  const nota = categoria.notas.find((n) => n.id === numericId);
  if (nota) {
    notaEncontrada = nota;
    categoriaEncontrada = categoria.titulo;
    break;
  }
}

if (!notaEncontrada || !categoriaEncontrada) {
  throw new Error(`Tarea con id ${id} no encontrada`);
}

const user = Astro.locals.user;
if (!user) {
  return Astro.redirect("/login");
}

let formSuccessMessage: string[] = []; // Estado inicial

const handleFormSuccess = (message: string[]) => {
  formSuccessMessage = message;
  console.log("handle success:", formSuccessMessage);
};

const result = Astro.getActionResult(actions.nota.cambiarNota);
---

<GCursosLayout
  user={user}
  servicio="notas"
  title="Notas"
  subTitle={notaEncontrada.nombre}
>
  <link rel="stylesheet" href="/notas_v33843.css" type="text/css" slot="head" />
  {
    result && (
      <Mensajes
        mensajes={[result.data?.message]}
        slot="mensajes"
        client:visible
      />
    )
  }
  <Fragment>
    <ul class="modulo">
      <li class="sel"><a href="">Evaluaciones</a></li>
      <li><a>Resumen</a></li>
    </ul>
    <NotaInfo categoriaNota={categoriaEncontrada} nota={notaEncontrada} />
  </Fragment>
</GCursosLayout>
