---
import type { User } from "lucia";
import { ViewTransitions } from "astro:transitions";
import Servicios from "@/components/GCursos/Servicios.jsx";
import Logout from "@/components/GCursos/Logout.jsx";
import Contacto from "@/components/GCursos/Contacto";
import MenuNotification from "@/components/GCursos/MenuNotification";
import Navbar from "@/components/GCursos/Navbar";
import Buscador from "@/components/GCursos/Buscador";
import Curso from "@/components/GCursos/Curso.astro";

export const prerender = false;

const cursos = [
  {
    nombreCurso: "Introducción a los Memes",
    codigo: "ME1135",
    seccion: "1",
  },
  {
    nombreCurso: "Introducción a la Vida Universitaria",
    codigo: "ES1001",
    seccion: "1",
  },
  {
    nombreCurso: "Cálculo V",
    codigo: "MA666",
    seccion: "1",
  },
  {
    nombreCurso: "Educación Física",
    codigo: "DR1000A",
    seccion: "1",
  },
];

interface Props {
  user: User;
  servicio: string;
  title: string;
  subTitle?: string;
}

const { user, servicio, title, subTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>g-cursos</title>

    <link rel="stylesheet" href="/style_v8771.css" />
    <link
      rel="stylesheet"
      href="/print_v8771.css"
      media="print"
      type="text/css"
    />
    <link rel="stylesheet" href="/historial_v8771.css" type="text/css" />
    <slot name="head" />
    <ViewTransitions />
  </head>
  <body class="logeado">
    <div id="header-content-wrapper">
      <h1 id="header" role="heading">
        <a href="/g-cursos"><span>U-Cursos :: </span></a>
      </h1>
      <h2 id="titulo">vicente</h2>

      <div id="content-wrapper">
        <div id="menu">
          <ul id="contenedor_opciones">
            <li class="pwa only-movil">
              <a class="permalink"
                ><span class="fa-solid fa-share-nodes"></span>
                <span class="tooltip">Compartir</span></a
              >
              <a
                ><span class="fa-solid fa-rotate-right"></span>
                <span class="tooltip">Recargar</span></a
              >
            </li>
            <li id="widget_buscador">
              <Buscador client:visible />
            </li>
            <li
              id="widget_perfil"
              class="usuario.7a1226f7618cacc600a3d11a181ff177"
            >
              <a class="perfil">
                <h1>
                  <img
                    alt={user.nombre}
                    class="logo avatar chica"
                    src={user.avatar
                      ? user.avatar
                      : `https://static.u-cursos.cl/images/siglas/${user.iniciales}.svg`}
                  />
                  {user.nombre}
                </h1>
              </a>
            </li>
            <li>
              <Contacto client:visible />
            </li>
            <li class="logout">
              <Logout client:visible />
            </li>
          </ul>

          <div id="modulos">
            <div id="favoritos" class="pinned">
              <h1>
                Favoritos<a
                  href="javascript:kernel.editFavs()"
                  class="fa fa-cog"
                  aria-label="Editar Favoritos"></a>
              </h1>
              <ul id="favs">
                <li
                  id="fav_usuario.7a1226f7618cacc600a3d11a181ff177.todos_cursos"
                  class="usuario.7a1226f7618cacc600a3d11a181ff177.todos_cursos"
                >
                  <a>
                    <h1>
                      <img
                        src="https://static.u-cursos.cl/images/servicios/todos_cursos_v8771.svg"
                        alt="Cursos"
                        class="icono"
                      />
                      <span>Mis Cursos</span>
                    </h1>
                  </a>
                </li>
                <li
                  id="fav_usuario.7a1226f7618cacc600a3d11a181ff177.horario"
                  class="usuario.7a1226f7618cacc600a3d11a181ff177.horario"
                >
                  <a>
                    <h1>
                      <img
                        src="https://static.u-cursos.cl/images/servicios/horario_v8771.svg"
                        alt="Horario"
                        class="icono"
                      />
                      <span>Mi Horario</span>
                    </h1>
                  </a>
                </li>
                <li
                  id="fav_usuario.7a1226f7618cacc600a3d11a181ff177.favoritos"
                  class="usuario.7a1226f7618cacc600a3d11a181ff177.favoritos"
                >
                  <a>
                    <h1>
                      <img
                        src="https://static.u-cursos.cl/images/servicios/favoritos_v8771.svg"
                        alt="Estrellas"
                        class="icono"
                      />
                      <span>Mis Estrellas</span>
                    </h1>
                  </a>
                </li>
                <li
                  id="fav_institucion.2.historial_institucion"
                  class="institucion.2.historial_institucion"
                >
                  <a>
                    <h1>
                      <img
                        src="https://static.u-cursos.cl/images/servicios/mensajes_v8771.svg"
                        alt="Historial"
                        class="icono"
                      />
                      <span>Facultad de Cs. Físicas y Matemáticas</span>
                    </h1>
                  </a>
                </li>
              </ul>
            </div>
            <div id="cursos" class="pinned">
              <h1>Primavera 2024</h1>
              <ul>
                <li class="sel">
                  <a
                    href="/g-cursos"
                    title="Introducción a la Programación Sección 2"
                  >
                    <h1>
                      {
                        user.cargo === "administrador" ? (
                          <img
                            src="https://www.u-cursos.cl/d/images/cargos/profesor.svg"
                            title="Profesor"
                            class="cargo"
                          />
                        ) : (
                          <img
                            src="https://www.u-cursos.cl/d/images/cargos/alumno.svg"
                            title="Estudiante"
                            class="cargo"
                          />
                        )
                      }

                      <span>Introducción a la Programación</span>
                    </h1>
                    <h2>CC1002-2</h2>
                  </a>
                  <MenuNotification client:visible />
                </li>
                {
                  cursos.map((curso) => (
                    <li>
                      <Curso
                        nombreCurso={curso.nombreCurso}
                        codigo={curso.codigo}
                        seccion={curso.seccion}
                      />
                    </li>
                  ))
                }
              </ul>
            </div>
            <div id="comunidades" class="pinned">
              <h1>Comunidades</h1>
              <ul>
                <li class="">
                  <a title="Mechones Facultad de Cs. Físicas y Matemáticas">
                    <h1>
                      <img
                        src="https://www.u-cursos.cl/d/images/cargos/miembro_de_comunidad.svg"
                        title="Miembro de Comunidad"
                        class="cargo"
                      />
                      <span>Mechones Facultad de Cs. Físicas y Matemáticas</span
                      >
                    </h1>
                    <h2>2024</h2>
                  </a>
                </li>
                <li class="">
                  <a title="Michis Buxef">
                    <h1>
                      <img
                        src="https://www.u-cursos.cl/d/images/cargos/miembro_de_comunidad.svg"
                        title="Miembro de Comunidad"
                        class="cargo"
                      />
                      <span>Michis Buxef</span>
                    </h1>
                    <h2>2023</h2>
                  </a>
                </li>
                <li class="">
                  <a title="Plan Común">
                    <h1>
                      <img
                        src="https://www.u-cursos.cl/d/images/cargos/miembro_de_comunidad.svg"
                        title="Miembro de Comunidad"
                        class="cargo"
                      />
                      <span>Plan Común</span>
                    </h1>
                    <h2>2019</h2>
                  </a>
                </li>
                <li class="">
                  <a title="Club de la Pelea">
                    <h1>
                      <img
                        src="https://www.u-cursos.cl/d/images/cargos/miembro_de_comunidad.svg"
                        title="Miembro de Comunidad"
                        class="cargo"
                      />
                      <span>Club de la Pelea</span>
                    </h1>
                    <h2>1999</h2>
                  </a>
                </li>
              </ul>
            </div>
            <div id="instituciones">
              <h1>Instituciones</h1>
              <ul>
                <li class="">
                  <a title="Facultad de Cs. Físicas y Matemáticas">
                    <h1>
                      <img
                        src="https://static.u-cursos.cl/imglocal/instituciones/ingenieria.svg"
                        alt="Facultad de Cs. Físicas y Matemáticas"
                        title="Facultad de Cs. Físicas y Matemáticas"
                        class="icono"
                      />
                      <span>Cs. Físicas y Matemáticas</span>
                    </h1>
                  </a>
                </li>
                <li class="">
                  <a title="Comunidades - Universidad de Chile">
                    <h1>
                      <img
                        src="https://static.u-cursos.cl/imglocal/instituciones/uchile.svg"
                        alt="Comunidades - Universidad de Chile"
                        title="Comunidades - Universidad de Chile"
                        class="icono"
                      />
                      <span>Universidad de Chile</span>
                    </h1>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="navigation-wrapper">
          <div class="curso">
            <div class="cont">
              <h1>
                <span> Introducción a la Programación </span>
              </h1>
              <h2>CC1002-2 - Primavera 2024</h2>
            </div>
          </div>
          <Servicios nombreServicio={servicio} client:visible />
          <div id="navigation" class="ucursos">
            <Navbar servicio={servicio} title={title} subTitle={subTitle} />
            <div id="mensajes" role="status">
              <slot name="mensajes" />
            </div>

            <h1 class="modulo">{title}</h1>

            <div id="body" role="main" class={`ucursos ${servicio} classic`}>
              <slot />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<style is:global>
  #header a {
    background-image: url(/imglocal/bill-cursos2.png);
    background-size: auto 32px;
    background-position: 25px 50%;
  }

  #header,
  #contenedor_opciones {
    background-color: #151830;
  }

  img.icono {
    display: inline;
  }

  li.servicio a img {
    display: inline;
  }
</style>
